{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}
    <div><a href="{{ path('product_index') }}">Retour</a></div>
    
    {% if message is defined %} 
        <div> {{ message }} </div>
    {% endif %}    

    {{ include('upload/_upload.html.twig') }}

{% endblock %}
